
		body {
			cursor: url('../assets/images/cursor.png'), auto;
		}
	
   
  
		#footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: lightcoral;
			color: white;
			text-align: center;
			padding: 2px;
		}
	
      body {
        background-image: url("../assets/images/zekkitile.png");
        background-repeat: repeat;
        animation: diagonal 10s linear infinite; /* set the animation parameters */
      }

      @keyframes diagonal {
        from { background-position: 0 0; } /* start position */
        to { background-position: 100% 100%; } /* end position */
      }
    
   
      #myText {
        font-size: 36px;
        color: red;
      }
  
   
    
        h2 {color:red;}
    
nav {
  background-color:green;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}
        
        #confetti-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999; /* Make sure it's above other elements */
            overflow: auto; /* Enable scrolling within the container */
        }
    
    
ul#menu li {
  display:inline;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 50px;
  padding-right: 50px;
}

      #myImage {
        width: 100px;
        height: 100px;
        transition: all 0.5s ease; /* smooth transition effect */
      }

      #myImage:hover {
        content: url("../assets/images/ohne1080p.gif"); /* change the image source on hover */
      }

    